speedtest-cli
ffmpeg
ffprobe
ffmpeg-python
py-tgcalls==1.1.6
ntgcalls==1.0.4
pyrogram==2.0.106
requests
aiohttp
aiofiles
pillow
asyncio
wget
python-arq
youtube-search-python==1.4.6
yt-dlp
python-dotenv
gTTS
